In [1]:
import pandas as pd

In [29]:
train_format1 = pd.read_csv('../data/tmall/data_format1/train_format1.csv', sep=',', header=0)

train_format1.head()

   user_id  merchant_id  label
0    34176         3906      0
1    34176          121      0
2    34176         4356      1
3    34176         2217      0
4   230784         4818      0

In [30]:
user_info_format1 = pd.read_csv('../data/tmall/data_format1/user_info_format1.csv', sep=',', header=0)
user_info_format1.head()

   user_id  age_range  gender
0   376517        6.0     1.0
1   234512        5.0     0.0
2   344532        5.0     0.0
3   186135        5.0     0.0
4    30230        5.0     0.0

Data Fields

Definition

user_id

A unique id for the shopper.

item_id

A unique id for the item.
cat_id

A unique id for the category that the item belongs to.

merchant_id
A unique id for the merchant.
brand_id

A unique id for the brand of the item.

time_tamp

Date the action took place (format: mmdd)
action_type

It is an enumerated type {0, 1, 2, 3}, where 0 is for click, 1 is for add-to-cart, 2 is for purchase and 3 is for add-to-favourite.

In [31]:
user_log_format1 = pd.read_csv('../data/tmall/data_format1/user_log_format1.csv', sep=',', header=0)

user_log_format1.head()

   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294     833       2882    2661.0         829            0
1   328862   844400    1271       2882    2661.0         829            0
2   328862   575153    1271       2882    2661.0         829            0
3   328862   996875    1271       2882    2661.0         829            0
4   328862  1086186    1271       1253    1049.0         829            0

Data Fields

Definition

user_id

A unique id for the shopper.

age_range

User' s age range: 1 for <18; 2 for [18,24]; 3 for [25,29]; 4 for [30,34]; 5 for [35,39]; 6 for [40,49]; 7 and 8 for >= 50;
0 and NULL for unknown.

gender
User' s gender: 0 for female, 1 for male, 2 and NULL for unknown.

merchant_id
A unique id for the merchant.

label
Value from {0, 1, -1, NULL}. ' 1' denotes ' user_id' is a repeat buyer for ' merchant_id' , while ' 0' is the opposite. ' -1' represents that ' user_id' is not a new customer of the given merchant, thus out of our prediction. However, such records may provide additional information. ' NULL' occurs only in the testing data, indicating it is a pair to predict.

activity_log
Set of interaction records between {user_id, merchant_id}, where each record is an action represented as ' item_id:category_id:brand_id:time_stamp:action_type' . ' #' is used to separate two neighbouring elements. Records are not sorted in any particular order.

In [32]:
train_format2 = pd.read_csv('../data/tmall/data_format2/train_format2.csv',sep=',',header=0)

train_format2.head()

,user_id,age_range,gender,merchant_id,label,activity_log
0,34176,6.0,0.0,944,-1,408895:1505:7370:1107:0
1,34176,6.0,0.0,412,-1,17235:1604:4396:0818:0#954723:1604:4396:0818:0...
2,34176,6.0,0.0,1945,-1,231901:662:2758:0818:0#231901:662:2758:0818:0#...
3,34176,6.0,0.0,4752,-1,174142:821:6938:1027:0
4,34176,6.0,0.0,643,-1,716371:1505:968:1024:3